POSTGRES_DB=tracklink
POSTGRES_USER=tracklink
POSTGRES_PASSWORD=tracklink
POSTGRES_PORT=5432
API_PORT=8080
JWT_KEY=TrackLink-Docker-Development-Key-Change-Me
JWT_ISSUER=TrackLink
JWT_AUDIENCE=TrackLink
JWT_EXPIRATION_MINUTES=15
